// Color Variables

$linear_gradient_background: linear-gradient(180deg, #564685 0%, #0c061e 100%);
$white: #fff;
$black: #000;
$main_heading_color: #fff1a5;
$btn_yellow: #ffdc2b;
$btn_hover_yellow: #fff1a5;
$yellow_secondary: #fcde1d;
$yellow_third: #f29f05;
$purple_main: #362b59;
$purple_secondary: #3e3166;
$purple_third: #6c5c9d;
$social_links_bg: #1f93c1;
$light_gray: #B9B9B9;
