@import'./colors';

header{
    margin-top: 64px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    width: 88.888%;
    margin: 0 auto;
}

.menu-items {
    display: flex;
    align-items: center;
    gap: 100px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
        margin: 0 15px;
    }

    a {
        text-decoration: none;
        color: $white;
        font-weight: 500;
        font-size: 1.125rem;
    }
}

.auth-buttons {
    a {
        text-decoration: none;
        color: $white;
        padding: 16px 24px 16px 24px;
        border-radius: 8px;
        margin-left: 10px;
        font-weight: 700;
        display: inline-block;
        height: 59px;
    }
}

.auth-buttons {
    .get-started {
        background-color: $white;
        color: #000;
        font-weight: bold;
        display: inline-block;
        height: 59px;
    }
}

.mobile-menu{
    display: none;
}

.menu-items {
    .logo {
        .ham-burger {
            display: none;
        }
    }
}